# ========== Unity ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# MemoryCaptures can be large
[Mm]emoryCaptures/

# Recordings
[Rr]ecordings/

# Crashlytics
crashlytics-build.properties

# ========== IDEs ==========
.vs/
.vscode/
.idea/

# ========== OS ==========
.DS_Store
Thumbs.db

# ========== Visual Studio ==========
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
